<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form action="{{ url_for('predict') }}" method="post">
            <label for="review">Enter a review:</label><br><br>
            <textarea id="review" name="review" rows="20" cols="100" placeholder="Enter your review here..."></textarea><br><br>
            <button class="button-64" role="button"><span class="text">Analyze</span></button>
        </form>
    </div>
</body>
</html>

